*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titolo{
    font-family: Roboto Mono ;
    font-weight: 600px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
    color: rgb(237, 14, 129);
}
.descrizione{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600px;
    margin-bottom: 50px;
    
}
.container{
   
    
}   
.foto-dipendente{
    width: 80px;
    float: left;
    
    
}
.dipendente{
    background-color: black;
    width: 20%;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    
    
}
.info-dipendente{
    color: white;
    
}
a{
    color: rgb(19, 209, 252);
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
    
}